<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Register</title>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" 
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" 
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <style type = "text/css">
    body {background-color:#d7cec7;}

    </style>

</head>

  <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href='#'> Website Name</a>
            </div>
    
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href= {% url 'about' %}>About</a></li>
                <li><a href= {% url 'contact' %}>Contact</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-list"></span> {{user.username}} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href= {% url 'account:logout' %}><span class = "glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                </li>
            </ul>
            </div><!-- /.navbar-collapse -->
            
        </div><!-- /.container-fluid -->
    </nav>

    <div class = "container text-center">
        <h1> Latest posts by {{user.username.capitalize}} </h1>
        <hr>
    </div>

    <div class = "container-fluid">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10">
                <a href="#" style="color:black"><u>Posts</u> <i class="glyphicon glyphicon-menu-down"></i></a>
                <hr>
                
                {% for entry in entries %}
                <!-- <div class="jumbotron" style="border-style: solid"> -->
                    <h4><a href= {% url 'entry:detail' pk=entry.pk %}>{{entry.title}}</a>
                        <a href= {% url 'entry:edit' pk=entry.pk %}><i class="glyphicon glyphicon-pencil"></i></a>    
                    </h4>
                    <p>
                    Created: {{entry.time_created}}</br>
                    Last Updated: {{entry.last_updated}} </br>
                    </p>
                    <p>{{entry.text}}</p></br>

                    <hr>
      
                <!-- </div> -->
                {% endfor %}
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2" >
                <ul class = "nav navbar-nav" style="background-color:bisque"  style="border-style: solid">
                    <li><a href= {% url 'entry:new_post' %}> <i class="glyphicon glyphicon-plus"></i> New Post </a></li>
                    <li><a href="#"> <i class="glyphicon glyphicon-pencil"></i> Edit Post </a></li>
                    <li><a href="#"> <i class="glyphicon glyphicon-remove"></i> Delete Post </a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  </body>
</html>