{% extends 'base.html' %} {% block content %}

</br>
<div class="container" style="background-color:ghostwhite">
  <h1>
    <u>Contacts</u>
  </h1>
  <p>
    <strong>Name: </strong> Jack Chen </br>
    <strong>Email: </strong> Chen.Jack.cs.@gmail.com </br>
    <strong>Phone Number: </strong> 917-776-8090 </br>
    <strong>Past Projects: </strong> Github.com/Chen-Jack </br>
    <strong>LinkedIn: </strong> https://www.linkedin.com/in/jack-chen-07019191/
  </p>

  <a href= {% url 'main_page' %} class="btn btn-default">Back</a>
  </br>
  </br>
</div>

{% endblock %}