{% extends 'base.html' %} 

{% block content %}
<div class="container">
  <div class="jumobtron">

    <h1>{{entry.title}}</h1>
    <h4>
      Author: {{entry.user.username}} </br>
      Created: {{entry.time_created}} </br>
      Last Updated: {{entry.last_updated}} </br>
    </h4>
    <hr>
    <p>
      {{entry.text}}
    </p>


    <a href= {% url 'entry:edit' pk=entry.id %} class='btn btn-info'>Edit </a>
    <a href= {% url 'entry:delete' pk=entry.id %} class="btn btn-danger">Delete</a>
    <a href= {% url 'account:user' username=request.user.username page=1 %} class='btn btn-default'>Back</a>
  </div>
</div>

{% endblock %}